*.o
*.d
*.a
*.so
*.tab.c
tests/zz_int
tests/zz_ptr
tests/zz_str
tests/zz_pair
tests/zz_cast
tests/zz_head
tests/zz_tail
tests/zz_foreach
examples/calc
examples/math
examples/lisp
examples/shon
doc/_build
