*.o
*.d
*.a
*.so
*.log
tests/zz_int
tests/zz_ptr
tests/zz_str
tests/zz_pair
tests/zz_cast
tests/zz_head
tests/zz_tail
tests/zz_foreach
tests/zz_cmp
tests/zz_copy
examples/calc.c
examples/math.c
examples/lisp.c
examples/shon.c
examples/calc
examples/math
examples/lisp
examples/shon
doc/_build
