*.o
*.d
*.a
*.so
*.tab.c
tests/zz_int
tests/zz_is_int
tests/zz_to_int
tests/zz_ptr
tests/zz_is_ptr
tests/zz_to_ptr
tests/zz_str
tests/zz_is_str
tests/zz_to_str
tests/zz_pair
tests/zz_is_pair
tests/zz_to_pair
tests/zz_head
tests/zz_tail
tests/zz_foreach
examples/calc
examples/math
examples/lisp
examples/shon
doc/_build
